.fondo-contenedor{
    width: 100%;
    height: 100px;
    background-color: red ;
    color: #000;
}

.fondo_secundario{
    background-color: red; 
    color:black
}

#contendor_3{
    color: black;
}

div{
    font-size: 40px;
    color: blue;
}
 
#padre_html_3 h1 { 
    color: #000;
    text-decoration: underline;
}


.success{
    background-color: aquamarine;
    color: #000;
}

.error{
    background-color: red;
    color: #fff;
}

.alert-primary {
    color: #000;
    background-color: #9c71cd;
    border-color: #e7f160;
}
